#
# Screenshot
#
# capture all screens to clipboard    
bindsym Print exec grim - | wl-copy
# capture the specified screen area to clipboard    
bindsym Shift+Print exec grim -g "$(slurp)" - | wl-copy
# capture the focused monitor to clipboard    
bindsym Shift+Control+Print exec grim -o $(swaymsg -t get_outputs | jq -r '.[] | select(.focused) | .name') - | wl-copy

#
# mako keybind
#
bindsym $mod+n exec makoctl mode -s silence
bindsym $mod+Shift+n exec makoctl mode -s default


#
# default prowrams like file explorer, web browser and mail client
#
bindsym $mod+t exec thunar
