# Godot floating windows on X
for_window [class="Godot"] layout tabbed
# Godot floating windows on Wayland
for_window [app_id="org.godotengine.Editor"] layout tabbed

# editor windows
for_window [title="Open a File or Directory"] floating enable
for_window [title="Import Existing Project"] floating enable
for_window [title="Create Script"] floating enable
for_window [title="Create New Resource"] floating enable
for_window [title="Create New Node"] floating enable
for_window [title="Create Shader"] floating enable
for_window [title="Project Settings \(project.godot\)"] floating enable, resize set 800px 600px, move position center
for_window [title="Event Configuration"] floating enable
for_window [title="Editor Settings"] floating enable, resize set 800px 600px, move position center

