#
# Autostarts
#
exec mako
exec foot --server
exec_always pkill wlsunset; exec wlsunset -S 06:00 -s 19:00

exec keepassxc
assign [app_id="org.keepassxc.KeePassXC"] workspace 10
exec thunderbird
assign [app_id="thunderbird"] workspace 9
exec firefox-esr
assign [app_id="Firefox-esr"] workspace 1

exec_always pkill kanshi; exec kanshi
# bindsym $mod+m output DP-9 disable; output DP-8 disable; output eDP-1 enable
# bindsym $mod+Shift+m output DP-9 enable; output DP-8 enable; output eDP-1 disable

#
# Screenshare
#
exec /usr/libexec/xdg-desktop-portal -r
# to be verified on next install
# exec /usr/libexec/xdg-desktop-portal-wlr
